@import '../index';

$st-catch: true;
.test {
  // error as function
  value: error('something went wrong');
  error: last-error();
  // debug as mixin
  @include debug('this is a debug message');
  debug: last-debug();
}