//                           _   _
//                          | | | |
//  ___  __ _ ___ ___ ______| |_| |__  _ __ _____      __
// / __|/ _` / __/ __|______| __| '_ \| '__/ _ \ \ /\ / /
// \__ \ (_| \__ \__ \      | |_| | | | | | (_) \ V  V /
// |___/\__,_|___/___/       \__|_| |_|_|  \___/ \_/\_/

/////////////////////////////////////////////
////////////////// private //////////////////
/////////////////////////////////////////////

@function --st-nth($list, $n) {
  @if length($list) == 0 or $n < 1 or $n > length($list) { @return null; }
  @return nth($list, $n);
}

/////////////////////////////////////////////
/////////////////// public //////////////////
/////////////////////////////////////////////

$throw-stack: ();
$throw-catch: false !default;

@function last-throw($n: 1) {
  @return --st-nth($throw-stack, length($throw-stack) + 1 - $n) or 'nothing thrown';
}

@function throw-error($message, $value: null) {
  @if $throw-catch {
    $throw: "ERROR: #{$message}";
    $throw-stack: append($throw-stack, $throw) !global;
    @return $throw;
  }
  @error $message;
  @return $value;
}

@function throw-warn($message, $value: null) {
  @if $throw-catch {
    $throw: "WARNING: #{$message}";
    $throw-stack: append($throw-stack, $throw) !global;
    @return $throw;
  }
  @warn $message;
  @return $value;
}

@function throw-debug($message, $value: null) {
  @if $throw-catch {
    $throw: "DEBUG: #{$message}";
    $throw-stack: append($throw-stack, $throw) !global;
    @return $throw;
  }
  @debug $message;
  @return $value;
}

@mixin throw-error($message) { @at-root .sass-throw .error { message: throw-error($message); } }

@mixin throw-warn($message) { @at-root .sass-throw .warning { message: throw-warn($message); } }

@mixin throw-debug($message) { @at-root .sass-throw .debug { message: throw-debug($message); } }
