.test {
  error: "ERROR: this is an error message from a function";
  warn: "WARNING: this is a warn message from a function";
  debug: "DEBUG: this is a debug message from a function";
}

.sass-throw .error {
  message: "ERROR: this is an error message from a mixin";
}

.sass-throw .warning {
  message: "WARNING: this is a warn message from a mixin";
}

.sass-throw .debug {
  message: "DEBUG: this is a debug message from a mixin";
}
